body {
    font-family: Roboto;
    margin: 0 auto;
}

/* ---------------- HEADER ---------------- */
.header {
    background-color: #1d1a1a;
    text-align: center;
    display: flex;
    justify-content: flex-end;
}

.nav {
    padding-left: 15px;
    padding-right: 15px;
}

.nav-signlist {
    list-style: none;
    display: flex;
}

.nav-signin, .nav-signout {
    margin: 10px auto;
    padding: 0 20px;
}

.nav-signout {
    border-left: #826060 2px solid;
}

.nav-signin--link, .nav-signout--link {   
    text-decoration: none;
    color: #826060;
}

/* ---------------- DIVERS ---------------- */
.main-h1 {
    text-align: center;
    color: #919191;
}

/* ---------------- LOGIN ---------------- */
.signInContainer {
    
}
